# Unity 自动生成目录
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# 自动构建产物
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Asset Meta 数据通常需要提交，但项目元数据中下列文件不需要
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

# 操作系统
.DS_Store
Thumbs.db
